#sketch > canvas {
	position: fixed;
	top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#msg {
	position: fixed;
	top: 70%;
  left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Century Gothic';
}
